
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Inconsolata", monospace;
      cursor: none !important;
    }

    body {
      background: #f8f3e7;
      color: #000;
      display: flex;
      min-height: 100vh;
      overflow-x: hidden;
    }

    nav {
      width: 240px;
      position: sticky;
      top: 0;
      height: 100vh;
      padding: 40px 25px;
      background: #f8f3e7;
      display: flex;
      flex-direction: column;
      gap: 25px;
    }

    nav h2 {
      font-size: 22px;
      margin-bottom: 5px;
    }

    nav button {
      width: 100%;
      padding: 14px 15px;
      background: #f8f3e7;
      border: 2px solid #000;
      margin-top: 16px;
      margin-left: 15px;
      border-radius: 12px;
      cursor: pointer;
      box-shadow: 3px 3px 0px #000;
      transition: 0.15s ease,;
      font-size: 16px;
    }

    nav button:hover {
      background: #e5dfd2;
      border: 2px solid #000;

    }

    nav button:active {
      box-shadow: 0px 0px 0px #000;
      transform: translate(3px, 3px);
    }

    .content {
      flex: 1;
      padding: 60px;
      display: flex;
      flex-direction: column;
      gap: 100px;
      background: #f8f3e7;
    }

    .section {
      padding: 60px;
    }

    .hero {
      background: #f8f3e7;
      border: 1px solid #000;
      border-radius: 20px;
      box-shadow: 3px 3px 0px #000;
    }

    .hero h1 {
      font-size: 50px;
      margin-bottom: 20px;
    }

    .hero p {
      font-size: 20px;
      width: 85%;
      line-height: 1.6;
    }

    .projects {
      padding: 0;
    }

    .projects h2 {
      font-size: 32px;
      margin-bottom: 25px;
    }

    .projects-list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
      gap: 30px;
    }

    .project-card {
      background: #f8f3e7;
      border: 1px solid #000;
      border-radius: 16px;
      padding: 30px;
      box-shadow: 3px 3px 0px #000;
      transition: 0.15s ease;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .project-img {
      width: 100%;
      height: 180px;
      background: #ddd;
      border: 1px solid #000;
      border-radius: 10px;
      object-fit: cover;
    }

    .project-desc {
      font-size: 16px;
      line-height: 1.5;
    }

    .tags {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
    }

    .tag {
      padding: 4px 8px;
      color: #ddd;
      border-radius: 5px;
      font-size: 11px;
      background: #000;
    }

    .project-btn {
      padding: 12px 16px;
      background: #f8f3e7;
      border: 2px solid #000;
      border-radius: 10px;
      cursor: pointer;
      box-shadow: 3px 3px 0 #000;
      transition: 0.15s;
      width: fit-content;
      font-size: 15px;
    }

    .project-btn:hover {
      transform: translate(3px, 3px);
      box-shadow: 0 0 0 #000;
    }

    .about h2 {
      font-size: 32px;
      margin-bottom: 20px;
    }

    .about p {
      font-size: 20px;
      line-height: 1.7;
      max-width: 750px;
    }

    footer {
      background: #f8f3e7;
      border: 1px solid #000;
      border-radius: 16px;
      padding: 40px;
      box-shadow: 3px 3px 0 #000;
      text-align: center;
      font-size: 18px;
      margin-top: 40px;
    }

    footer .socials {
      display: flex;
      justify-content: center;
      gap: 15px;
      margin-top: 10px;
    }

    footer .socials a {
      padding: 6px 12px;
      border: 1px solid #000;
      border-radius: 8px;
      text-decoration: none;
      color: #000;
      box-shadow: 2px 2px 0 #000;
      font-size: 14px;
      transition: 0.15s;
    }

    footer .socials a:hover {
      transform: translate(2px, 2px);
      box-shadow: 0 0 0 #000;
    }

    /* CUSTOM CURSOR */
    #cursor {
    position: fixed;
    width: 18px;
    height: 18px;
    border: 2px solid #000;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: background 0.15s ease, border 0.15s ease;
    z-index: 9999;
    }
