    .project-container {
      width: 100%;             /* leaves ~10% space on each side */
      margin: 0px auto;      /* centers it */
      background: #f8f3e7;
      border: 1px solid #000;
      border-radius: 20px;
      padding: 75px;
      padding-top: 50px;
    }

    .project-container h1 {
      font-size: 35px;
      margin-bottom: 20px;
    }

    .project-container p {
      font-size: 17px;
      line-height: 1.7;
      margin-bottom: 30px;
    }

    .project-img-large {
      width: 100%;
      height: 400px;
      border: 1px solid #000;
      border-radius: 14px;
      object-fit: cover;
      object-position: 50% 100%;
      margin-bottom: 20px;
      margin-top: 20px;
      background: #ddd;
    }


    .back-btn {
      width: 100%;
      padding: 14px 15px;
      color: black;   
      background: #f8f3e7;
      border: 2px solid #000;
      margin-top: 16px;
      margin-left: 15px;
      border-radius: 12px;
      box-shadow: 3px 3px 0px #000;
      transition: 0.15s ease,;
      font-size: 16px;
      text-decoration: none;
    }

    .back-btn:hover {
      background: #e5dfd2;
      border: 2px solid #000;
    }

    .back-btn:active {
      box-shadow: 0px 0px 0px #000;
      transform: translate(3px, 3px);
    }

    .project-info {
      display: flex;
      justify-content: space-between;
      margin: 20px 0 40px 0;
      gap: 40px;
      padding-bottom: 40px;
      border-bottom: 1.5px solid #000;
    }

    .project-info div {
      flex: 1;
    }

    .project-info h3 {
      font-size: 22px;
      margin-bottom: 5px;
      font-weight: 700;
    }

    .project-info p {
      margin: 0;
      line-height: 1.1;
    }

    .project-container p.info {
      font-size: 17px;
      line-height: 1.3;
      max-width: 900px;
    }

    .project-container h2 {
      font-size: 25px;
      margin-bottom: 20px;
      font-weight: 700;
    }


    .project-video {
      width: 100%;
      max-width: 900px;
      border-radius: 12px;
      border: 1px solid #000;
      box-shadow: 3px 3px 0px #000;
      margin: 30px 0;
    }


